/*#ec0000,#333333,#6d6d6d,#c2c2c2,#f0f0f0    */
a:link,
a:visited {
    color: #2258f9;
}

h5:hover,
h5:active {
    color: red;
    background-color: #f0f0f0;
}
li:hover,
li:active {
    color: #ec0000;
    background-color: #f0f0f0;
}

.conversation-list .form-group {
    margin-bottom: 0.5rem;
}

.conversation-list-filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input[type="date"] {
    padding: 0 6px;
}

.card {
    width: 100%;
    margin: 10px 0;
}

.card .card-body .btn-link {
    padding: 0;
}

.view-evaluations {
    color: #FFF;
}

.live-header {
    color: green;
}

.hidden {
    display: none;
}

section {
    margin: 20px 10px;
}