a:link,
a:visited {
    color: #2258f9;
}

a:hover,
a:active {
    color: red;
}


.container {
  
    width: 100%;
    overflow: hidden;
}


.conversation-list .form-group {
    margin-bottom: 0.5rem;
}

.conversation-list-filter {
    
    align-items: center;
}



.card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.card .card-body .btn-link {
    padding: 0;
   
}


.hidden {
    display: none;
}

section {
    margin: 20px 10px;
}
