body {
    background-color: #000000;
    color: #99ffcc;
    font-family: Courier, mono-space;
}

i {
    font-style: unset;
    font-size: 1em;
    -webkit-animation: blink 1100ms linear infinite;
            animation: blink 1100ms linear infinite;
}

@keyframes blink {
    49% { opacity: 1; }
    50% { opacity: 0; }
    89% { opacity: 0; }
    90% { opacity: 1; }
}

@-webkit-keyframes blink {
    49% { opacity: 1; }
    50% { opacity: 0; }
    89% { opacity: 0; }
    90% { opacity: 1; }
}